<html lang="en">
<head>
    <title>Home</title>
    <link data-th-href="@{bootstrap.css}" rel="stylesheet">
    <script type="text/javascript" data-th-src="@{Main.js}"></script>
    <script type="text/javascript" data-th-src="@{clienthttp.js}"></script>
</head>
    <body>

        <div id="myapp"></div>

        <script data-th-inline="javascript" type="text/javascript">

            // Start the Elm application.
            Elm.Main.init({
                node: document.getElementById('myapp'),
                flags: properties
            });

        </script>
    </body>
</html>