<html lang="en">
<head>
    <title>Home</title>
    <link data-th-href="@{bootstrap.css}" rel="stylesheet">
    <script type="text/javascript" data-th-src="@{Main.js}"></script>
</head>
    <body>

        <div id="myapp"></div>

        <script data-th-inline="javascript" type="text/javascript">
            /*<![CDATA[*/
            const properties = {
                createPostComponent : {
                    createPostUrl : /*[[@{${page.createPostComponent.createPostUrl}}]]*/ '<no-url>',
                    createPostMethod: /*[[@{${page.createPostComponent.createPostMethod}}]]*/ '<no-method>',
                },

                getAllPostsComponent : {
                    getAllPostsUrl:  /*[[@{${page.getAllPostsComponent.getAllPostsUrl}}]]*/ '<no-url>',
                    getAllPostsMethod: /*[[@{${page.getAllPostsComponent.getAllPostsMethod}}]]*/ '<no-method>',
                },

                readSpecificPostComponent : {
                    postReadUrl:  /*[[@{${page.readSpecificPostComponent.postReadUrl}}]]*/ '<no-url>',
                    readPostMethod: /*[[@{${page.readSpecificPostComponent.readPostMethod}}]]*/ '<no-method>',
                },
            }
            /*]]>*/

            // Start the Elm application.
            Elm.Main.init({
                node: document.getElementById('myapp'),
                flags: properties
            });

        </script>
    </body>
</html>